[user]
	name = Kevin Bao
	email = kzbao93@gmail.com
[core]
	editor = emacs -nw
	excludesfile = ~/.gitignore
[branch]
	autosetuprebase = always
	autosetupmerge = always
[pager]
	branch = false
[push]
	default = current
[alias]
        amend = commit --amend --no-edit
        br = branch
        cm = commit
        cma = commit -a
        co = checkout
        hist = log --pretty=format:\"%Cgreen%ad %Cred%h %Creset| %s %Cblue%an\" --date=short
        hreset = reset HEAD --hard
        ignore = update-index --assume-unchanged
        last = diff HEAD^ HEAD
        new = checkout -b
        rb = rebase
        st = status
        unignore = update-index --no-assume-unchanged
