[user]
	name = Kevin Bao
	email = kevin@karat.io
[core]
	editor = vim
	excludesfile = ~/.gitignore

[pager]
	branch = false

[push]
	default = current

[alias]
        am = commit --amend
        st = status
        co = checkout
        rb = rebase
        cm = commit -m
        hist = log --pretty=format:\"%Cgreen%ad %Cred%h %Creset| %s %Cblue%an\" --date=short
        last = diff HEAD^ HEAD
        new = checkout -b
        hreset = reset HEAD --hard
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged