[user]
	name = Kevin Bao
	email = kzbao93@gmail.com
[core]
	editor = emacs -nw
	excludesfile = ~/.gitignore
[branch]
	autosetuprebase = always
	autosetupmerge = always
[fetch]
        prune = true
[pager]
	branch = false
[push]
	default = current
[alias]
        a = add
        b = branch
        bb = checkout
        bc = checkout -b
        bk = branch -D
        c = commit
        ca = commit --amend
        cc = commit -a
        ce = commit --amend --no-edit
        d = diff
        f = fetch --all
        ff = pull
        h = log --pretty=format:\"%Cgreen%ad %Cred%h %Creset| %s %Cblue%an\" --date=short
        ignore = update-index --assume-unchanged
        k = checkout --
        l = diff HEAD^ HEAD
        ms = merge --squash
        p = push
        pf = push -f
        pu = push -u origin
        r = rebase
        rc = rebase --continue
        ri = rebase --interactive
        s = status
        unignore = update-index --no-assume-unchanged
        z = stash
        zp = stash pop
